:root {
    margin:35px;
    color: #465054;
    font-size: 30px;
}


.title {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 40px;
    text-decoration: underline;
}



.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 300px;
    height: 30px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
}

.button {
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: coral;
    border: none;
    font-weight: bolder;
    font-size: 25px;

}

.clueAttempts {
    margin-top: 30px;
}

.paragraph {
    width: 90%;
    height: 40px;
    margin: 20px 0px;
    border: solid;
    padding: 10px;
}

.colorRedHigh {
    color: #De382a;
    background-color: #84e1e6;
}

.colorRedLow {
    color: #De382a;
    background-color: #F2e597;
}


.colorGreen {
    color: #147f19;
    background-color: #F2c497;

}
